@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import './colors.scss';

$heading-font-family: 'Playfair Display', sans-serif;
$body-content-font: 'Noto Serif', sans-serif;
$header-background-image: linear-gradient(to right bottom, 
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url('../images/bg.jpg');

body {
    padding: 0;
    margin: 0;
    font-family: $body-content-font;
    background-color: $white-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

/*header*/
.banner {
    position: relative;
    height: 80vh;
    background-image: $header-background-image;
    background-size: cover;
    background-position: top;
}

/*colors*/
.ah-orange {
    color: $orange-color;
}

.facebook {
    color: $facebook-blue;
}

.facebook:hover {
    color: $facebook-blue-hover;
}

.twitter{
    color:$twitter-color;
}

.twitter:hover{
    color:$twitter-color-hover;
}

/*buttons*/
.is-orange {
    background-color: $orange-color;
    color: $white-color;
    border: none;
}

.is-orange:hover {
    color: $white-grey;
}

.icon-grey {
    color: $icon-grey;
}

.icon-red {
    color: $red-color;
}

/*btn*/
.btn:link, 
.btn:visited {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn-white {
    margin-top: 40px;
    background-color: $orange-color;
    color: $white-color;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px $hover-black;
    color: $white-grey;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px $hover-black;
}

.btn::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition:  all .4s;
}

.btn-white::after {
    background-color: $white-color;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveButton {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated {
    animation: moveButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/*utilities*/
.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-content__start {
    display: flex;
    justify-content: start;
}

.transparent {
    background-color: transparent !important;
}

.mt-0 {
    margin-top: 0.5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem;
}

.mt-6{
    margin-top: 6rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mr-s {
    margin-right: 5px;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 0.5rem;
}

.p-0 {
    padding-bottom: 0;
}

.p-1 {
    padding: 1rem 1rem 0rem 1rem;
}

.fonticons-20 {
    font-size: 20px;
}
.transparent {
    background-color: transparent !important;
}
.pb--5 {
  padding-bottom: .6rem;
}
.pb--15 {
  padding-bottom: 1.5rem;
}

.display-center {
    display: flex;
    justify-content: center;
}

/* auth */
.form__card {
   margin-top: 100px;
}

.login-banner_img {
    margin-top: 10px;
   min-height: 600px !important;
   width: 100%;
   background-image: url('../images/login.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.facebook-btn {
    background: $facebook-blue;
    color: $white-color;
}

.facebook-btn:hover {
  color: $white-grey;
}
   
.line {
   width: 80%;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid $white-grey;
}

.banner_img {
    margin-top: 100px;
    min-height: 650px !important;
    width: 100%;
    background-image: url('../images/signup.png');
    background-size: cover;
    background-repeat: no-repeat;
}