@import './colors.scss';

.form__card {
   margin-top: 100px;
}

.login-banner_img {
    margin-top: 10px;
   min-height: 600px !important;
   width: 100%;
   background-image: url('../images/login.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.facebook-btn {
    background: $facebook-blue;
    color: $white-color;
}

.facebook-btn:hover {
  color: $white-grey;
}
   
.line {
   width: 80%;
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid $white-grey;
}
