$orange-color:  #E47E08;
$red-color: red;
$icon-grey: #BEBEBE;
$white-color: #fff;
$white-grey: #eee;
$facebook-blue: #4267b2;
$hover-black: rgba(0,0,0,0.2);
$facebook-blue-hover: rgba(42, 84, 168, 0.8);
$twitter-color: rgb(29, 161, 242);
$twitter-color-hover: rgba(29, 161, 242, 0.8);
$dark-gray: #a0a0a0;
$medium-gray: #777;
